.container{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
    .container{
        padding: 20px;
    }
}
.subcontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}