.container {
  background-color: #2ab3b1;
  opacity: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 32px;
  width: 42.9%;
  border-bottom-right-radius: 8px;
}

.title {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
}
.description {
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.17px;
  opacity: 75%;
  width: 50%;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
}